.ext01{
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style:italic;
}

.ext02{
    color:red;
}

.ext03{
    font-size: x-large;
    text-align: center;
    text-decoration: darkred;
    text-transform: uppercase;
    text-decoration-line: underline;
    line-height: 35px;
}