* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    padding: auto;
    background: lightblue;
}

nav {
    padding: 5px;
    background: coral;
    border-radius: 12px;
    margin-bottom: 10px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    align-items: center;
    margin: 25px;
    background-color: cyan;
    padding: 15px;
    border-radius: 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    color:red;
}

nav ul li:hover{
    background: blue;
    text-color: white;
}
nav ul li a:hover{
    color: white;
    padding: 8px;
}

.left{
    float: left;
    width: 29%;
    margin: 8px;
    padding: 10px;
    height: 600px;
}
.left h2{
    background: chartreuse;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    color: cornsilk;
}
.left ul{
    list-style: none;
}
.leftnav1 ul li{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}
.leftnav1 ul li:hover{
    background: springgreen;
    padding: 7px;
}
.leftnav1 ul li a{
    color: red;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.leftnav1 ul li a:hover{
    color:white;
}
.leftnav2 ul li{
    display: inline-block;
    margin: 8px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
}

.leftnav2 ul li:hover{
    background: black;
    background-position: center;
}
.leftnav2 ul li a{
    text-decoration: none;
    font-size: 20px;
    color: teal;
}
.leftnav2 ul li a:hover{
    color: white;
}
.right{
    float: left;
    width: 65%;
    margin: 8px;
    padding: 10px;
    height: 600px;
}
section::after{
    content: " ";
    display: table;
    clear: both;
}

.num1{
    background: silver;
    margin-top: 20px;
    padding: 10px;
}
.left2{
    float: left;
    width: 37%;
    height: 350px;
}
.left2 img{
    width: 90%;
    height: 320px;
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid green;
}
.right2{
    float: left;
    width: 60%;
    height: 350px;
    padding: 10px;
    margin-left: 10px;
}
.num1::after{
    content: " ";
    display: table;
    clear: both;
}

.about h2{
    margin-right: 15px;
    padding: 20px;
    font-size: 35px;
    background: silver;
    margin-left: 15px;
    color: tomato;
}
.imag img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.txt p{
    font-size: 20px;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.contact h2{
    margin-left: 15px;
    font-size: 35px;
    background: white;
    padding: 15px;
    color: teal;
    margin-right: 10px;
}
.contact p{
    margin-left: 15px;
    font-size: 18px;
    line-height: 35px;
    margin-right: 10px;
}
.fm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
    background: thistle;
}
.f1{
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 35px;
}
.f2{
    width: 60%;
    height: 40px;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
}
.msg{
    width: 60%;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
}
.sub{
    font-size: larger;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    width: 200px;
    border-radius: 12px;
}
.sub:hover{
    background: green;
    color: white;
}

.slide{
    background: greenyellow;
}
.left3{
    background: grey;
    float: left;
    width: 29%;
    margin: 8px;
    padding: 10px;
    height: 500px;
}
.left3 ul{
    list-style: none;
}

.left3 ul li{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
}
.left3 ul li:hover{
    background: palegreen;
    padding: 7px;
}
.left3 ul li a{
    font-size: 22px;
    text-decoration: none;
    color: lime;
    font-weight: 600;
}
.left3 ul li a:hover{
    color:black;
}
.left3 h2{
    font-size: 25px;
    background: blue;
    padding: 8px;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin-left: 45px;
}
.right3{
    float: left;
    width: 67%;
    margin: 8px;
    padding: 10px;
    height: 500px;
    background:moccasin;
}
.right3 p{
    margin-left: 10px;
    text-align: left;
    
}

.left4{
    background: grey;
    float: left;
    width: 67%;
    margin: 8px;
    padding: 10px;
    height: 400px;
    margin-left: 15px;
    text-align: left;
}

.right4{
    background: grey;
    float: left;
    width: 29%;
    margin: 8px;
    padding: 10px;
    height: 400px;
}
.vid video{
    margin-top: 30px;
}
.vid::after{
    content: " ";
    display: table;
    clear: both;
}
.footer1{
    background: tomato;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: larger;
}
@media (max-width:600px){
    nav, nav ul li,.right,.left,.left1, .right2, img,.contact,.slide,.vid,.left3, .right3,.left4, .right4{
        width: 100%;
        height: auto;
        margin: 0;
        border: 2px solid black;
        text-align: center;
    }
}
@media (max-width:600px){
    .left2 img{
        width: 210%;
        //height: auto;
    }
}
@media (max-width:600px){
    .fm{
        width: 100%;
        //height: auto;
        text-align: left;
    }
}